form *{
color:#1b1b1b;
letter-spacing:0.5px;
outline:none;
border:none;
}
form {
padding-left: 10px;
padding-right: 10px;
}

.App{
display: flex;
flex-direction: column;

}


.Input{
    margin-top: 15px;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
button{
    background-color: rgba(255, 255, 255, 0.335);
    backdrop-filter: blur(10px);
}
.container{
    flex-flow: 1 1 auto;
    display: flex;
    flex-direction:row;
    padding: 5px;
    justify-content: space-between;
    align-items: flex-start;

}

.DescFeald{
    position: absolute;
    resize: vertical !important;
    top: 25px;
    left: 10px;
    right: 10px;
    z-index: 2;
}

.Input>input{
    margin-bottom: 10px;
}

.Input > button{
    position: absolute;
    right: 15px;
    top: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100%;
}
.content{
    display: flex;
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
    /* align-items: stretch; */
height:-webkit-fill-available;
}
.Notes{
    background-color: aqua;
}


input,.DescFeald{
    /* padding: 5px; */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}  

input:focus,.DescFeald:focus{
    background-color:rgba(255, 255, 255, 0.3);
    /* outline:none; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* border-radius: 5px; */
    font-family: sans-serif;
    /* text-align: center; */
    line-height: 1;
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}    
input,textarea{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
       background-color: rgba(0, 0, 0, 0.308);
    
}

.DescFeald{
    position:absolute;
    border-radius: 0px 0px 15px 15px;
}
/* ------------- */
